ENV['RACK_ENV'] = "development"

require 'rubygems'
require 'bundler/setup'

require 'api'

# in production, nginx should scoop these up before they make it here anyway
#use Rack::Static, :urls => ['/mashape'], :root => 'public'

run Sinatra::Application
